:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

.rating-0 {
  --color: #2b0a27;
}
.rating-1 {
  --color: #451010;
}
.rating-2 {
  --color: #922323;
}
.rating-3 {
  --color: #c53030;
}
.rating-4 {
  --color: #c53030;
}
.rating-5 {
  --color: #c53030;
}
.rating-6 {
  --color: #dd6b20;
}
.rating-7 {
  --color: #f6e05e;
  color: #333;
}
.rating-8 {
  --color: #48bb78;
}
.rating-9 {
  --color: #2f855a;
}
.rating-10 {
  --color: #4caf50;
}

.season-header,
.episode {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--color);
  display: grid;
  place-items: center;
  margin: 2px;
  border-radius: 25px;
  corner-shape: squircle;
  color: #fff;
}

.season {
  @media (width < 640px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 25px;
  }
  @media (width >=640px) and (width <= 1024px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (width > 1024) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: start;
    place-items: center;
  }
}

.season-header {
  grid-area: 1 / 1 / 1 / 5;
  justify-self: center;
  align-self: center;
}

episode {
  display: grid;
  place-items: start;
  place-content: center;

  @media (width >=640px) and (width <= 1024px) {
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
  }
}
